@media screen and (max-width: 767px) {
    .main-container {
        position: absolute !important;
        width: 420px !important;
        nav {
            position: absolute !important;
            left: 0 !important;
            width: 420px !important;
            height: 250px;
            .container-fluid {
                margin-left: 0;
                width: 100% !important;
                display: flex;
                flex-direction: column;
                justify-content: center;
                .navbar-right {
                    background-color: #B33B37;
                    width: 100%;
                    ul {
                        li {
                            float: left;
                            width: 140px;
                            margin-left: 25px;
                        }
                        li:nth-child(1) {
                            width: 70px;
                        }
                        li:nth-child(3) {
                            width: 100px;
                        }
                    }
                    #searchBar {
                        display: none;
                    }
                }
            }
        }
        
        .main-content {
            padding-top: 150px !important;
            height: 1020px !important;
            display: flex;
            flex-direction: column;
            .text-box {
                flex: 1;
                position: absolute !important;
                height: 500px !important;
                h1 {
                    position: absolute !important;
                    left: 20px !important;
                    font-size: 35px !important;
                }
                .text {
                    position: absolute !important;
                    left: 20px !important;
                    width: 380px !important;
                    height: 164px !important;
                }
            }
            .image-box {
                flex: 1;
                position: absolute !important;
                top: 700px !important;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .main-container {
        width: 820px !important;
        nav {
            #searchBar {
                display: none;
            }
        }
        
        .main-content {
            padding-top: 70px !important;
            height: 1200px !important;
            display: flex;
            flex-direction: column;
            .text-box {
                flex: 1;
                position: absolute !important;
                height: 400px !important;
                text-align: center;
                h1 {
                    position: absolute !important;
                    left: 150px !important;
                    font-size: 35px !important;
                }
                .text {
                    position: absolute !important;
                    left: 150px !important;
                    width: 580px !important;
                    height: 164px !important;
                }
            }
            .image-box {
                flex: 1;
                position: absolute !important;
                top: 700px !important;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .main-container {
        width: 970px;
        nav {
            #searchBar {
                display: block;
            }
        }
     }
}

@media screen and (min-width: 1160px) {
    .main-container {
        width: 1440px;
        nav {
            height: 90px;
         }
    }
}


* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #dddcdc;
}

a {
    color: #FFFCF6;
}

a:hover {
    text-decoration: none;
    color: #FFFCF6;
}

.main-container {
    margin: 0 auto;
    nav {
        max-width: 1440px;
        margin: 0 auto;
        background-color: #B33B37;
        .container-fluid {
            padding: 0;
        }
    }
    .main-content {
        background-color: #FFFCF6;
        height: 600px;
    }
}